<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>  
    {{>header}}
    <center> <h1> Enter Your Login ID </h1> </center> 
     <div class="container"> 
           
            <form>
            <label>Username : </label> 
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <button type="submit" class="loginButton">Send Link to your Email</button> 
            {{!-- <input type="checkbox" checked="checked"> Remember me  --}}
            <br>
            <button type="button" class="cancelbtn" style="margin-left:250px"> Cancel</button> 

            </form>
        </div>  
</body>   

</html>