<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="../src/app.js"></script>
</head>

<body>
    {{>header}}
    <dev>
        <h2 style="margin-left:25%;margin-top:5%">Free URL Shortner to create perfect URLs for your business</h2>
        {{!-- <label style="margin-left:20%;margin-top:4%; font-weight:bold;font-size:30px;">URL : </label> --}}
        <input class="urlInput"  placeholder="Enter long URL" name="InputURL"
            required>
        <button class="generatebtn">Generate URL</button>
    </dev>
</body>

</html>