<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="./css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../../src/js/login.js"></script>
<title> Login </title>

</head>  
<body>  
    {{>header}}
    <center> <h1> Login </h1> </center> 
    <center style="display: flex;flex-direction: row; margin-left:42%"><h3> Don't have Account?</h3> <h3 style="color:blue; ">signup</h3></center>
    
        <div class="container"> 
           
            <form>
            <label>Username : </label> 
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <label style="margin-left: 2px;">Password : </label> 
            <input type="password" placeholder="Enter Password" name="password" required style="margin-left: 3px;">
            <button type="submit" class="loginButton">Login</button> 
            {{!-- <input type="checkbox" checked="checked"> Remember me  --}}
            <br>
            <button type="button" class="cancelbtn" style="margin-left:20%;"> Cancel</button> 
            Forgot <a href="#"> password? </a> 
            </form>
        </div>  
</body>   
</html>

 
