<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>  
    {{>header}}
    <center> <h1> Set New Password </h1> </center> 
        <div class="container"> 
           
            <form>
            <label style="margin-left: 75px;">New Password : </label> 
            <input type="password" placeholder="Enter Password" name="password" required>
            <br>
            <label style="margin-left: 0px;">Confirm New Password : </label> 
            <input type="password" placeholder="Enter Password Again" name="password" required style="margin-left: 3px;">
            <button type="submit" class="loginButton" style="margin-left: 205px;">Set New Password</button> 
            {{!-- <input type="checkbox" checked="checked"> Remember me  --}}
            <br>
            <button type="button" class="cancelbtn" style="margin-left: 205px;"> Cancel</button> 
            Forgot <a href="#"> password? </a> 
            </form>
        </div>  
</body>

</html>