<!DOCTYPE html>
<html>

<body >
    <div class="topnav"> 
        <a class="navButton"> URL Shortner</a>
        {{!-- <a class="navButton">Dashboard</a>
        <a  class="navButton">About</a> --}}
             <a class="login">Login</a>
        <a class="help">Help</a>
        
        
   
    </div>
    
</body>

</html>